# Cookies from a logged-in x.com session (DevTools > Application > Cookies).
# auth_token is httpOnly, so it can't be read from document.cookie.
TWITTER_AUTH_TOKEN=
TWITTER_CT0=
# Set to run as a Streamable HTTP server instead of stdio.
# APP_PORT=3000
# APP_HOST=127.0.0.1
